.task{
    width: 50%;
    margin: auto;
    border: solid 2px blueviolet;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
}

.controls{
    width: 50%;
    margin: auto;
    border: solid 2px blueviolet;
    padding: 10px;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
}

.result{
    width: 70%;
    margin: auto;
    border: solid 2px cadetblue;
    background: beige;
    padding: 10px;
    text-align: center;
    margin-top:20px;
    font-weight: bold;
}

.table_of_results{
    border: solid 1px olivedrab;
    background: white;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.table_of_results td{
    padding: 5px;
    border: solid 1px olivedrab;
    text-align: left;
}