table {
    border: solid 1px black;
    height: 400px;
    border-collapse: collapse;
}

table td {
    border: solid 1px black;
    width: 175px;
    text-align: center;
}

table td img {
    height: 100px;
    width: 100px;
}